.center{
    display: flex;
    justify-content: center;
}
.whiteBG{
    background-color: white;
}
.onyxBG{
    background-color: #353839;
}
.orangeText{
    color: orangered;
}
.titleSpecs{
    font-size: 60px;
    font-family: 'Anton', sans-serif;
}
.bodyText{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
.btnSpecs{
    margin-top: 45px;
    border-style: hidden;
    border-radius: 2px;
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    
}