.center{
    display: flex;
    justify-content: center;
}
.whiteBG{
    background-color: #F2F5FF;
}
.onyxBG{
    background-color: #232C33;
}
.orangeText{
    color: #FC5130;
}
.titleSpecs{
    font-size: 80px;
    font-family: 'Anton', sans-serif;
}
.title2Specs{
    font-size: 60px;
    font-family: 'Anton', sans-serif;
}
.bodyText{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    color: black;
}
.btnSpecs{
    margin-top: 45px;
    border: none;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    box-shadow: 5px 5px 5px grey;
}
.black{
    color: black;
}
.spacing{
    display: flex;
    justify-content: space-evenly;
}

.noPad{
    padding: 0px;
}
.marginT{
    margin-top: 60px;
}
.body2Text{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: black;
}
.recentWins{
    color: #ff5331;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}